# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Output of `npm run build`
build/

# Output of `npm pack`
*.tgz

# Output of `wp-scripts plugin-zip`
*.zip
